@mixin background-hover {
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0);
}
@mixin background {
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, white, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, white, #f2f2f2);
	background-image: -o-linear-gradient(top, white, #f2f2f2);
	background-image: linear-gradient(to bottom, white, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
	// border: 1px solid #d4d4d4;
	// -webkit-border-radius: 4px;
	// -moz-border-radius: 4px;
	// border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
@mixin background-new {
	background-color: #00A200;
	background-image: -moz-linear-gradient(top, #00A200, #119100);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00A200), to(#119100));
	background-image: -webkit-linear-gradient(top, #00A200, #119100);
	background-image: -o-linear-gradient(top, #00A200, #119100);
	background-image: linear-gradient(to bottom, #00A200, #119100);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
	// border: 1px solid #d4d4d4;
	// -webkit-border-radius: 4px;
	// -moz-border-radius: 4px;
	// border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
@mixin raised {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
}   

.raised {
	@include raised;
}    
.well {
	background-color: #FFFEF2;
}
html {
	// overflow: -moz-scrollbars-vertical; 
	// overflow-y: scroll;
	& .busy { cursor: wait !important }
}
body {
	background: #f7f7f7 image-url('bg-main.jpg') no-repeat center top;
}
#right-panel {
	position: fixed;
	right: 0px;
	top: 50px;
	#flash_notice {
		@include raised;
		border-top: 5px solid #0081c2;
		border-top-left-radius: 5px;
		.alert {
			border-radius: 0px;
		}
	}
	.user {
		width: 150px;
		padding: 10px;
		height: 50px;
		@include background-hover;
		@include raised;
		// border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		a {color: white}
	}
	.navs{
		z-index: -1;
		margin-top: 70px;
		float: right;
		.dropdown-menu {
			border: none;
			border-top-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
}

.fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}
#main {
	& > .content {
		margin-top: 50px;
		.media-list {
			& > .media {
				margin-bottom: 5px;
				margin-top: 0px;
				border-left: solid 2px #0088cc;
				@include background;
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.3s ease;
				&:hover { 
					border-left: solid 2px white;
					cursor: pointer;
					@include background-hover;
					@include raised;
					& > .media-body {
						color: white;
					}
				}
				.media-window {
					margin-bottom: -6px;
					margin-right: -6px;
				}
			}
			& > .media.active {
				@extend .media:hover;
				margin-bottom: 20px;
			}
			& > .media.added {
				@extend .media:hover;
				@include background-new;
				margin-bottom: 20px;
			}
			& > li{
				padding: 0.5em;
			}
		}
	}
}
.btn {
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.3s ease;
	&:hover {
		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.3s ease;
		@include background-hover;
		color: white;
		text-shadow: none;
	}
}
.media {
	border-bottom-left-radius: 5px;
	.media-footer {
		hr {
			margin-top: 0px;
		}
		.buttons {
			padding-top:5px; 
			padding-bottom: 2px;
			border-top-left-radius: 5px;
			border: solid 1px #FFFEF2;
			background-color: white;
			-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
			-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
			box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
			margin-bottom: -20px;
			margin-right: -5px;
		}
	}
}
.title {
	@include background;
	border: none;
}
.accordion {
	.accordion-group {
		border: none;
		.accordion-heading {
			border-bottom-left-radius: 5px;
			border-left: solid 2px #0088cc;
			border-left: solid 2px white;
			@include background-hover;
			@include raised;
			// @include background;
			a {color: white}
		}
	}
	.accordion-body {
		.accordion-inner {border: none}
		.product {color: white}
	}
}