@mixin background-hover {
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0);
}
@mixin raised {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
	&:before, &:after {
		content:"";
		position:absolute;
		z-index:-2;
	}
}       
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	background-color: rgba(184, 184, 184, 0.3) ;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}
#main {
	#push {
		height: 50px;
	}
	& > .content {
		margin-top: 50px;
		.media-list {
			& > .media {
				border-left:solid 3px #0081c2;
				margin-bottom: 2px;
				margin-top: 0px;
				background-color: white;
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.3s ease;
				&:hover { 
					border-left:solid 3px white;
					cursor: pointer;
					@include background-hover;
					& > .media-body {color: white}
				}
			}
			& > .media.active {
				@extend .media:hover;
			}
			& > li{
				padding: 0.5em;
			}
		}
	}
}